html {
	position: relative;
	overflow-y: scroll;
	min-height: 100%;
}
body {
	margin-bottom: 80px;
}
body.modal-open{
	padding-left: 16px;
}
#base_container {
	width: 960px!important;
	margin: auto;
}
#base_header_headline {
	position: relative;
}
#base_header_headline h2 {
	position: absolute;
	right:0px;
	bottom: 0px;
	margin: 0px;
}
#base_footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 80px;
}
#base_footer address {
	margin-top: 40px;
}
pre.console {
	color: #FFF;
	background-color: #000;
}
